In [5]:
import pandas as pd
import numpy as np
import os

In [7]:
os.chdir('/sfs/qumulo/qhome/scd3dz/git/american-soldier/')

In [9]:
os.getcwd()

'/sfs/qumulo/qhome/scd3dz/git/american-soldier'

In [11]:
df = pd.read_csv('./data/post_dspg/responses.csv')

/apps/software/standard/compiler/gcc/9.2.0/jupyter_conda/2019.10-py3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
df.head()

,Unnamed: 0,identifier,question_id,answer value,answer_id,response_identifier
0,23965.0,3604f485-0c72-40c5-9c45-f11eb812c8cb,S032W.Q1,7,S032W.Q1:7.0,6a39502f-682b-47af-bc08-f4ee1a0deb41
1,23966.0,663d6620-f12a-46ac-861d-d90034b21437,S032W.Q1,4,S032W.Q1:4.0,17b25e83-d6b5-40a1-989f-403b500d2b69
2,23967.0,ffe2662f-79b9-481d-9294-cabca50a3de1,S032W.Q1,3,S032W.Q1:3.0,a1be088e-50ee-423d-8e28-20e767b14beb
3,23968.0,52ca4fdd-318e-470a-adbb-f542a73b25e9,S032W.Q1,6,S032W.Q1:6.0,c55f786c-fe63-47c3-975f-dfbb603a6a7e
4,23969.0,ae143cd9-9835-41f9-b143-8ca2a41e3cfb,S032W.Q1,3,S032W.Q1:3.0,c72a9fd9-6a05-4c24-bfbf-02ebba3e1afe

In [13]:
len(df)

14505786